@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable {
  overflow: auto;
}

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

/* WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(173, 181, 189, 0.8);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  /*background: #ffffff;*/
  border-radius: 4px;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: rgba(173, 181, 189, 0.8) #e9ecef;
}

html::-moz-scrollbar-thumb {
  background-color: rgba(173, 181, 189, 0.8);
  border-radius: 4px;
}

html::-moz-scrollbar-track {
  /*background-color: #e9ecef;*/
  border-radius: 4px;
}

/* .swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-disabled {
  display: none;
} */
